# ==============================
# Experiment outputs
# ==============================
exp_*/
experiments*/
runs/
outputs/
logs/
plots/

# ==============================
# Model checkpoints
# ==============================
*.pth
*.pth.tar
*.pt
*.ckpt

# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc
*.pyo

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Datasets
# ==============================
data/
datasets/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# OS files
# ==============================
.DS_Store

# ==============================
# HPC / slurm
# ==============================
*.out
*.err
slurm-*.out